#otpModal {
}

#otpModal.modal-dialog .modal-content .modal-header {
  border-bottom: none;
}

#otpModal.modal-dialog .modal-content .modal-header h1.modal-title {
  font-size: 16px;
}

#otpModal.modal-dialog {
  max-width: 420px;
  width: 96%;
}

#otpModal.modal-dialog .modal-content .modal-body {
  padding: 0px 50px 50px 50px;
  text-align: center;
}

#otpModal.modal-dialog .modal-content .modal-body .imgbox {
  background: url(../images/otp-img.svg) no-repeat center center;
  height: 120px;
  width: 154px;
  display: flex;
  margin: auto;
  margin-bottom: 25px;
}

#otpModal.modal-dialog .modal-content .modal-body .otp-number {
  margin-bottom: 15px;
}

#otpModal.modal-dialog .modal-content .modal-body .otp-number label.lblText {
  margin-bottom: 5px;
  font-weight: 500;
  display: block;
}

#otpModal.modal-dialog .modal-content .modal-body .otp-number ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
}

#otpModal.modal-dialog .modal-content .modal-body .otp-number ul li {
  width: 16.66%;
  text-align: center;
  margin: 0px 5px;
}

#otpModal.modal-dialog
  .modal-content
  .modal-body
  .otp-number
  ul
  li:first-child {
  margin-left: 0;
}

#otpModal.modal-dialog .modal-content .modal-body .otp-number ul li:last-child {
  margin-right: 0;
}

#otpModal.modal-dialog
  .modal-content
  .modal-body
  .otp-number
  ul
  li
  .form-control {
  text-align: center;
  height: 56px;
}

#otpModal.modal-dialog .modal-content .modal-body .timecount {
  color: orange;
  text-align: center;
  margin-bottom: 25px;
}

#otpModal.modal-dialog .modal-content .modal-body .btn {
  font-size: 13px;
  padding: 10px 15px;
  min-width: 140px;
  text-transform: uppercase;
  font-weight: 500;
}
